/* HomeScreen / Category Section */

.categories {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.categories-header {
  height: 15vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-title {
  margin: 0;
  font-size: 2rem;
  color: white;
}

.category-box {
  font-size: 2rem;
  width: 80%;
  max-width: 600px;
  height: 25vh;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 0 10px rgba(126, 126, 126, 0.523);
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-box:hover {
  background-color: rgb(45, 45, 45);
  color: white;
  cursor: pointer;
}

/* Category */

.category-header {
  width: 100vw;
  height: 15vh;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}

.category-title {
  margin: 0;
  padding: 1rem;
  font-size: 3rem;
  color: white;
  flex: 5;
}

.category-back {
  font-size: 2rem;
  color: white;
  border: none;
  background-color: black;
  cursor: pointer;
  flex: 1;
}

.category-add {
  font-size: 2rem;
  color: white;
  border: none;
  background-color: black;
  cursor: pointer;
  flex: 1;
}

/* Job Section */

.job-list {
  position: relative;
  top: 15vh;
}

.job-label {
  background-color: white;
  box-shadow: 0px 0 10px rgba(126, 126, 126, 0.523);
  width: 80%;
  margin: 2rem auto 0;
}

.job-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-name {
  margin: 1rem;
  font-size: 1.5rem;
}

.job-number {
  margin: 1rem;
  font-size: 1.2rem;
  color: rgb(92, 92, 92);
}

/* Forms */

.Modal {
  background-color: rgba(0, 0, 0, 0.858);
  position: relative;
  height: 100vh;
  width: 100vw;
}

.form-close {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}
