.signup-container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: rgb(62, 62, 62);
  background: linear-gradient(
    0deg,
    rgba(62, 62, 62, 1) 0%,
    rgba(38, 38, 38, 1) 100%
  );
}

.signup-container h1 {
  color: white;
  height: 5vh;
}

.signup-label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.signup-input {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.345);
  border: none;
  border-radius: 5px;
  outline: white;
}

.signup-message {
  color: white;
  font-size: 0.85rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.signup-message a {
  color: white;
}

.signup-message a:hover {
  color: #72d6d3;
}

.signup-form {
  background-color: rgb(31, 31, 31);
  padding: 2rem 2rem 0.5rem;
  border-radius: 10px;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 75%;
  max-width: 500px;
  margin: 2rem auto 0;
}

.signup-btn {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

.signup-btn:hover {
  color: #72d6d3;
  background-color: black;
  cursor: pointer;
}

.logo {
  margin-top: 1rem;
  height: 15vh;
  filter: invert(100%);
}

.error-text {
  color: rgb(255, 78, 78);
  font-size: 0.7rem;
  margin: 0 0.5rem;
  padding: 0;
}
/* HomeScreen / Category Section */

.categories {
  height: 85vh;
  position: relative;
  top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.categories-header {
  height: 15vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-title {
  margin: 0;
  font-size: 1.5rem;
  color: white;
}

.category-box {
  font-size: 1.5rem;
  width: 80%;
  max-width: 600px;
  height: 25vh;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 0 10px rgba(126, 126, 126, 0.523);
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-box:hover {
  background-color: rgb(45, 45, 45);
  color: white;
  cursor: pointer;
}

/* Category */

.category-header {
  width: 100vw;
  height: 15vh;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.category-title {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  flex: 5;
}

.category-back {
  font-size: 2rem;
  color: white;
  border: none;
  background-color: black;
  cursor: pointer;
  flex: 1;
}

.category-add {
  font-size: 2rem;
  color: white;
  border: none;
  background-color: black;
  cursor: pointer;
  flex: 1;
  -webkit-tap-highlight-color: transparent;
}

/* Job Section */

.job-list {
  position: relative;
  top: 15vh;
  z-index: 0;
  padding-bottom: 1.5rem;
}

.job-label {
  background-color: white;
  box-shadow: 0px 0 10px rgba(126, 126, 126, 0.523);
  width: 80%;
  margin: 2rem auto 0;
  border-radius: 5px;
}

.job-label:hover {
  background-color: rgb(45, 45, 45);
  color: white;
  cursor: pointer;
}

.job-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-name {
  margin: 1rem;
  font-size: 1.5rem;
}

.job-number {
  margin: 1rem;
  font-size: 1.2rem;
  color: rgb(92, 92, 92);
}

.job-body {
  position: absolute;
  top: 15vh;
  height: 85vh;
  width: 100vw;
  overflow: scroll;
}

.job-body h1 {
  text-align: center;
  margin-top: 4vh;
}

.job-page-title {
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(203, 203, 203);
  width: 50vw;
  margin: 0 auto 2rem;
}

/* Equipment */

.equipment-selection {
  position: absolute;
  top: 15vh;
  width: 100vw;
  height: 85vh;
}

.equipment-box {
  font-size: 1.2rem;
  height: 27.5vh;
  width: 35vw;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 0 10px rgba(126, 126, 126, 0.523);
  display: inline-block;
  margin: 10vh 7vw 0;
  text-align: center;
}

.equipment-box:hover {
  background-color: rgb(45, 45, 45);
  color: white;
  cursor: pointer;
}

.equipment-box i {
  font-size: 2rem;
  margin-top: 7vh;
}

/******* Equipment List and Labels ********/

.equip-list {
  position: relative;
  z-index: 0;
  padding-bottom: 1.5rem;
}

.equip-label {
  display: flex;
  align-items: flex-start;
  height: 12vh;
  width: 95vw;
  margin: 2rem auto 0;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0 10px rgba(126, 126, 126, 0.523);
}

.equip-label:hover {
  cursor: pointer;
}

.equip-text {
  flex: 1;
  font-size: 1rem;
  height: 20vh;
}

.equip-header {
  background-color: black;
  color: white;
  border-top-right-radius: 5px;
}

.equip-brand {
  margin: 0;
  padding: 0.5rem;
  display: inline-block;
}

.equip-model {
  margin: 0;
  display: inline-block;
  color: rgb(164, 164, 164);
}

.equip-img {
  height: 12vh;
  width: 25vw;
}

.equip-location-box {
  display: flex;
  justify-content: stretch;
  margin-top: 1vh;
  margin-left: 0.5rem;
}

.equip-location-box h5 {
  margin: 0;
  padding: 0.1rem;
}

.equip-location {
  flex: 2;
}

.equip-available {
  align-self: flex-end;
  justify-self: flex-end;
  flex: 1;
  color: green;
}

@media screen and (min-width: 760px) {
  .equip-list {
    display: flex;
    flex-wrap: wrap;
  }

  .equip-filler {
    height: 1vh;
    width: 45vw;
    margin: 2rem auto 0;
  }

  .equip-label {
    width: 45vw;
  }

  .equip-img {
    height: 17vh;
    width: 17vw;
  }

  .equip-label {
    height: 17vh;
  }

  .equip-location-box {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 900px) {
  .equip-list {
    display: flex;
    flex-wrap: wrap;
  }

  .equip-filler {
    height: 1vh;
    width: 45vw;
    margin: 2rem auto 0;
  }

  .equip-label {
    width: 45vw;
  }

  .equip-img {
    height: 20vh;
    width: 20vw;
  }

  .equip-label {
    height: 20vh;
  }

  .equip-location-box {
    margin-top: 1.5rem;
  }
}

@media screen and (min-height: 940px) {
  .equip-img {
    height: 17vh;
  }

  .equip-label {
    height: 17vh;
  }
}

@media screen and (min-height: 1060px) {
  .equip-img {
    height: 15vh;
  }

  .equip-label {
    height: 15vh;
  }
}

@media screen and (min-height: 1230px) {
  .equip-img {
    height: 12vh;
  }

  .equip-label {
    height: 12vh;
  }
}

.equip-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Equipment Page */

.equip-page-body {
  position: absolute;
  top: 15vh;
  height: 85vh;
  width: 100vw;
  overflow: scroll;
}
.equip-individual-img {
  margin: 1rem auto;
  width: 90vw;
  max-width: 500px;
  height: 25vh;
}

.equip-individual-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.equip-page-table {
  width: 90vw;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 0 2px rgba(126, 126, 126, 0.523);
}

.table-section {
  padding: 0.7rem 1rem;
  border-bottom: 1px solid lightgrey;
}

.table-label {
  margin: 0;
  font-size: 1.3rem;
}

.table-value {
  margin: 0.3rem 0;
}

.switch-container {
  position: relative;
  padding-bottom: 1.5rem;
}

.switch {
  position: absolute;
  right: 0;
  display: inline-block;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: #89c12d;
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}

.switch-text {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  font-weight: 500;
}

/* End Equipment Page */

/* Forms */

.Modal {
  background-color: rgba(0, 0, 0, 0.858);
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  text-align: center;
}

.form-close {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  flex: 1;
}

.form-container {
  color: white;
  height: 95vh;
  width: 100vw;
  overflow: scroll;
}

.form-title {
  font-size: 2rem;
  flex: 5;
}

.form-input-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 2rem auto 0;
  padding-bottom: 5rem;
}

.form-label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.form-input,
.date-input {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  padding: 0.7rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.345);
  border: none;
  border-radius: 5px;
  outline: white;
}

.date-picker-wrapper,
.date-picker-wrapper > div.react-datepicker-wrapper,
.date-picker-wrapper
  > div
  > div.react-datepicker__input-container
  .date-picker-wrapper
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}

.date-picker {
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  padding: 0.7rem;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.345);
  border: none;
  border-radius: 5px;
  outline: white;
}

.react-datepicker__header {
  background: rgba(0, 0, 0, 0.8);
}

.react-datepicker__current-month {
  color: white;
}

.weekday {
  color: white;
}

.calendar {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

.day {
  background: rgba(102, 102, 102, 0.268);
  color: white;
}

.day:hover {
  background: rgba(102, 102, 102, 0.575);
  color: skyblue;
}

.react-datepicker__day--selected {
  background-color: rgb(191, 191, 191);
  color: black;
}

.image-upload {
  width: 75vw;
  object-fit: cover;
}

.form-btn-group {
  display: flex;
  justify-content: space-between;
}

.form-btn {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0.7rem;
  width: 45%;
  margin-top: 1rem;
  align-self: flex-end;
}

.form-btn:hover {
  background: rgb(45, 45, 45);
  color: white;
}

.form-btn-delete {
  background-color: rgb(145, 30, 30);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0.7rem;
  width: 45%;
  margin-top: 1rem;
  align-self: flex-start;
}

.form-btn-delete:hover {
  background-color: rgb(105, 23, 23);
  color: white;
}

.sign-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  z-index: 1250;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.sign-out button {
  font-size: 1rem;
  padding: 0.5rem;
  width: 50%;
  margin: 2rem auto;
  border: none;
  outline: none;
}

.sign-out button:hover {
  cursor: pointer;
  background: rgb(45, 45, 45);
  color: white;
}
