.signup-container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: rgb(62, 62, 62);
  background: linear-gradient(
    0deg,
    rgba(62, 62, 62, 1) 0%,
    rgba(38, 38, 38, 1) 100%
  );
}

.signup-container h1 {
  color: white;
  height: 5vh;
}

.signup-label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.signup-input {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.345);
  border: none;
  border-radius: 5px;
  outline: white;
}

.signup-message {
  color: white;
  font-size: 0.85rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.signup-message a {
  color: white;
}

.signup-message a:hover {
  color: #72d6d3;
}

.signup-form {
  background-color: rgb(31, 31, 31);
  padding: 2rem 2rem 0.5rem;
  border-radius: 10px;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 2rem auto 0;
}

.signup-btn {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

.signup-btn:hover {
  color: #72d6d3;
  background-color: black;
  cursor: pointer;
}

.logo {
  margin-top: 1rem;
  height: 15vh;
  filter: invert(100%);
}

.error-text {
  color: rgb(255, 78, 78);
  font-size: 0.7rem;
  margin: 0 0.5rem;
  padding: 0;
}
/* HomeScreen / Category Section */

.categories {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.categories-header {
  height: 15vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-title {
  margin: 0;
  font-size: 2rem;
  color: white;
}

.category-box {
  font-size: 2rem;
  width: 80%;
  max-width: 600px;
  height: 25vh;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 0 10px rgba(126, 126, 126, 0.523);
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-box:hover {
  background-color: rgb(45, 45, 45);
  color: white;
  cursor: pointer;
}

/* Category */

.category-header {
  width: 100vw;
  height: 15vh;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.category-title {
  margin: 0;
  padding: 1rem;
  font-size: 2.5rem;
  color: white;
  flex: 5;
}

.category-back {
  font-size: 2rem;
  color: white;
  border: none;
  background-color: black;
  cursor: pointer;
  flex: 1;
}

.category-add {
  font-size: 2rem;
  color: white;
  border: none;
  background-color: black;
  cursor: pointer;
  flex: 1;
}

/* Job Section */

.job-list {
  position: relative;
  top: 15vh;
  z-index: 0;
  padding-bottom: 1.5rem;
}

.job-label {
  background-color: white;
  box-shadow: 0px 0 10px rgba(126, 126, 126, 0.523);
  width: 80%;
  margin: 2rem auto 0;
  border-radius: 5px;
}

.job-label:hover {
  background-color: rgb(45, 45, 45);
  color: white;
  cursor: pointer;
}

.job-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-name {
  margin: 1rem;
  font-size: 1.5rem;
}

.job-number {
  margin: 1rem;
  font-size: 1.2rem;
  color: rgb(92, 92, 92);
}

.job-body {
  position: absolute;
  top: 15vh;
  height: 85vh;
  width: 100vw;
  overflow: scroll;
}

.job-body h1 {
  text-align: center;
  margin-top: 3vh;
}

/* Equipment */

.equipment-selection {
  position: absolute;
  top: 15vh;
  width: 100vw;
  height: 85vh;
}

.equipment-box {
  font-size: 1.2rem;
  height: 27.5vh;
  width: 35vw;
  justify-self: center;
  align-self: center;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 0 10px rgba(126, 126, 126, 0.523);
  display: inline-block;
  margin: 10vh 7vw 0;
  text-align: center;
}

.equipment-box:hover {
  background-color: rgb(45, 45, 45);
  color: white;
  cursor: pointer;
}

.equipment-box i {
  font-size: 2rem;
  margin-top: 7vh;
}

.equip-label {
  display: flex;
  align-items: flex-start;
  height: 12vh;
  width: 95vw;
  margin: 2rem auto 0;

  border-bottom-right-radius: 5px;
  box-shadow: 0px 0 10px rgba(126, 126, 126, 0.523);
}

.equip-text {
  flex: 1;
  font-size: 1rem;
  height: 12vh;
}

.equip-header {
  background-color: black;
  color: white;
  border-top-right-radius: 5px;
}

.equip-brand {
  margin: 0;
  padding: 0.5rem;
  display: inline-block;
}

.equip-model {
  margin: 0;
  display: inline-block;
  color: rgb(164, 164, 164);
}

.equip-img {
  height: 12vh;
  width: 25vw;
}

.equip-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.equip-location {
  margin-top: 1vh;
  margin-left: 0.5rem;
}

.equip-location h5 {
  margin: 0;
  padding: 0.1rem;
}

/* Forms */

.Modal {
  background-color: rgba(0, 0, 0, 0.858);
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  text-align: center;
}

.form-close {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  flex: 1;
}

.form-container {
  color: white;
  height: 90vh;
  width: 100vw;
  overflow: scroll;
}

.form-title {
  font-size: 2.5rem;
  flex: 5;
}

.form-input-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 2rem auto 0;
  padding-bottom: 5rem;
}

.form-label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.form-input {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  padding: 0.7rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.345);
  border: none;
  border-radius: 5px;
  outline: white;
}

.image-upload {
  width: 75vw;
  object-fit: cover;
}

.form-btn {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0.7rem;
  width: 45%;
  margin-top: 1rem;
  align-self: flex-end;
}

.form-btn:hover {
  background: black;
  color: white;
}
